/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2015, 8:52:30 AM
    Author     : Student
*/
body {
    margin: 0; 
    padding: 0;
}
#game-screen {
    display: block;
}

#gameOver, #playHUD, #startGame, #levelSelect{
    position: absolute;
    visibility: hidden;
}
h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: #00ffff;
    text-align: center;
}
.title{
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#restart, #playButton {
    border: 2px solid #00ffff;
    border-radius: 10px;
}
#restart:hover, playButton:hover, #easyButton:hover, #mediumButton:hover, #hardButton:hover {
    background-color: #ffffff;
}

#scoreboard {
    margin: 0px;
    color: #00ffff;
}

#easyButton, #mediumButton, #hardButton {
    border: 2px solid #00ffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

